@{
    ViewBag.Title = "Home Page";
    int counter = 0;
}

<div class="row">
    @foreach (var article in Model)
    {
        if (counter != 0 && counter % 3 == 0)
        {
            @:</div>
            @:<div class="row">
        }
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" style='height: 200px; width: 100%; object-fit: cover' src="@article.Thumbnail" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@article.Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">by @article.Username at @article.Date</h6>
                    <h6 class="card-subtitle mb-2" style="overflow: hidden; white-space:nowrap; text-overflow:ellipsis">@article.Headline</h6>
                    @if (article.URL == null)
                    {
                        <p class="card-text" style="overflow: hidden; white-space:nowrap; text-overflow:ellipsis">@article.Content</p>
                        <a href="/Article/Show/@article.ArticleId" class="align-self-end btn btn-primary">Read</a>
                    }
                    else
                    {
                        <p class="card-text" style="overflow: hidden; white-space:nowrap; text-overflow:ellipsis"></p>
                        <a href="@article.URL" class="align-self-end btn btn-warning">Link</a>
                    }
                </div>
            </div>
        </div>
        counter++;
    }
</div>