@model EngineDeStiri.Models.ApplicationUser

@{
    ViewBag.Title = "Suggestion";
}

<p>
    <h1><b>@ViewBag.ArticleSuggestion.Title</b></h1>
</p>
<p>Posted on @ViewBag.ArticleSuggestion.Date</p>
@if (ViewBag.ArticleSuggestion.Accepted == -1)
{
    <div><b>This suggestion has not been reviewed yet.</b></div>
}
else
{
    if (ViewBag.ArticleSuggestion.Accepted == 1)
    {
        <div><b>This suggestion was accepted.</b></div>
    }
    else
    {
        <div><b>This suggestion was rejected.</b></div>
    }
}

<div class="clearfix">
    <p>
        Categories:

        @if (ViewBag.ArticleSuggestion.Categories.Count == 0)
        {
            <kbd>None</kbd>
        }
        else
        {
            foreach (var cat in ViewBag.ArticleSuggestion.Categories)
            {
                <kbd>@cat.Name</kbd>
            }
        }
        @if (ViewBag.ShowAdditionalButtons == "Yes")
        {
            <kbd><a role="button" style="text-decoration: none; color: white;" href="/ArticleSuggestion/AddCategory/@ViewBag.ArticleSuggestion.ArticleSuggestionId">+</a></kbd>
        }
    </p>
        
        <p style="text-indent: 5%;">@ViewBag.ArticleSuggestion.Content</p>
        
    </div>

    @if (ViewBag.ShowAdditionalButtons == "Yes")
    {
        <div class="row mb-4">
            <a role="button" class="btn btn-dark col-md-2 mr-2" href="/ArticleSuggestion/Edit/@ViewBag.ArticleSuggestion.ArticleSuggestionId">Edit</a>
            <a role="button" class="btn btn-dark col-md-2 mr-2" href="/ArticleSuggestion/Delete/@ViewBag.ArticleSuggestion.ArticleSuggestionId">Delete</a>
        </div>
    }
    
    @if (ViewBag.ArticleSuggestion.Accepted == -1 && ViewBag.AR == "Yes")
    {
        <div class="row mb-4">
            <a role="button" class="btn btn-dark col-md-2 mr-2" href="/ArticleSuggestion/Accept/@ViewBag.ArticleSuggestion.ArticleSuggestionId">Accept</a>
            <a role="button" class="btn btn-dark col-md-2 mr-2" href="/ArticleSuggestion/Reject/@ViewBag.ArticleSuggestion.ArticleSuggestionId">Reject</a>
        </div>
    }
</form>
    <p>
        <h2>COMMENTS</h2>

        @foreach (var com in ViewBag.Comments)
        {
            <div style="box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px; padding: 2%;">
                <h5><b>@com.Title</b></h5>
        <p class="small"> by <kbd>@com.AuthorName</kbd> on @com.Date</p>
        <p>@com.Content</p>
        @if (com.AuthorId == ViewBag.UserId || ViewBag.IsAdmin == "Yes")
        {
            <div class="row mb-4">
                <a role="button" class="btn btn-dark col-md-2 mr-2" href="/Comment/Edit/@com.CommentId">Edit</a>
                <a role="button" class="btn btn-dark col-md-2 mr-2" href="/Comment/Delete/@com.CommentId">Delete</a>
            </div>
        }
    </div>
        }

        @if (ViewBag.IsLoggedIn == "Yes")
        {
            <p><h2>Add a new comment</h2></p>
            <form method="post" action="/ArticleSuggestion/AddComment/@ViewBag.ArticleSuggestion.ArticleSuggestionId">
                <div class="form-group" style="box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px; padding: 2%;">
                    <label>Title</label>
                    <br />
                    <input type="text" name="Title" class="form-control" />
                    <br /><br />
                    <label>Content</label>
                    <br />
                    <textarea type="text" name="Content" class="form-control" rows="2"></textarea>
                    <br />
                    <button type="submit" class="btn btn-dark col-md-2 mr-2">Add</button>
                </div>
            </form>
        }
        else
        {
            <p><h2>Login to add a comment!</h2></p>
        }
        </p>