@model EngineDeStiri.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
<form method="post" action="/Article/Edit/@ViewBag.Article.ArticleId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <input type="hidden" name="Author" value="@ViewBag.Article.Author" />
    <label>Title</label>
    <br />
    <input type="text" name="Title" value="@ViewBag.Article.Title" />
    <br /><br />
    <label>Date</label>
    <br />
    <input type="text" name="Date" value="@ViewBag.Article.Date" />
    <br /><br />
    <label>Thumbnail</label>
    <br />
    <input type="text" name="Thumbnail" value="@ViewBag.Article.Thumbnail" />
    <br /><br />
    <label>Headline</label>
    <br />
    <input type="text" name="Content" value="@ViewBag.Article.Headline" />
    <br /><br />
    <label>Content</label>
    <br />
    @if (ViewBag.Article.URL == null)
    {
        <input type="text" name="Content" value="@ViewBag.Article.Content" />
    }
    else
    {
        <input type="text" name="URL" value="@ViewBag.Article.URL" />
    }
    <br />
    <button type="submit">Modify</button>
</form>

@Html.Action("AddCategory", "Article", new { id = ViewBag.Article.ArticleId })