@model EngineDeStiri.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
<form method="post" action="/Article/Edit/@ViewBag.Article.ArticleId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <div class="form-group">
        <input type="hidden" name="Author" value="@ViewBag.Article.Author" class="form-control" />
        <label>Title</label>
        <br />
        <input type="text" name="Title" value="@ViewBag.Article.Title" class="form-control" />
        <br />
        <label>Date</label>
        <br />
        <input type="text" name="Date" value="@ViewBag.Article.Date" class="form-control" />
        <br />
        <label>Thumbnail</label>
        <br />
        <input type="text" name="Thumbnail" value="@ViewBag.Article.Thumbnail" class="form-control" />
        <br />
        <label>Headline</label>
        <br />
        <input type="text" name="Content" value="@ViewBag.Article.Headline" class="form-control" />
        <br />
        
        @if (ViewBag.Article.URL == null)
        {
            <label>Content</label>
            <br />
            <textarea type="text" name="Content" class="form-control">@ViewBag.Article.Content</textarea>
        }
        else
        {
            <label>Website</label>
            <br />
            <input type="text" name="URL" value="@ViewBag.Article.URL" class="form-control" />
        }
        <br />
        <button type="submit" class="btn btn-dark col-md-2 mr-2">Modify</button>
    </div>
</form>