@model EngineDeStiri.Models.ApplicationUser

@{
    ViewBag.Title = "Show article";
}
<h1>@ViewBag.Article.Title</h1>
<p>@ViewBag.Article.Date</p>
<br />
<div>Categories: </div>

@if (ViewBag.Article.Categories.Count == 0)
{
    <div>None</div>
}
else
{
    foreach (var cat in ViewBag.Article.Categories)
    {
            <div>@cat.Name</div>
    }
}


<!-- A ROUND ViewBag.Article.Author.Username</p> --><p>
<p>@ViewBag.Article.Thumbnail</p>
<br />
<p>@ViewBag.Article.Content</p>
<br />

<a href="/Article/Edit/@ViewBag.Article.ArticleId">Edit</a>

<form method="post" action="/Article/Delete/@ViewBag.Article.ArticleId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button type="submit">Delete</button>
</form>
<hr />
<a href="/Article/Index">All Articles</a>
<br />
<a href="/Article/New">New</a>
<br />

<h2>COMMENTS</h2>

@foreach (var com in ViewBag.Comments)
{
    <p>
        <p>@com.Title by @com.AuthorName at @com.Date said:</p>
        <a href="/Comment/Edit/@com.CommentId">Edit</a>

        <form method="post" action="/Comment/Delete/@com.CommentId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button type="submit">Delete</button>
        </form>

        <p>@com.Content</p>
    </p>
}

<h2>Add new comment</h2>

<form method="post" action="/Article/AddComment/@ViewBag.Article.ArticleId">
    <label>Title</label>
    <br />
    <input type="text" name="Title" />
    <br /><br />
    <label>Content</label>
    <br />
    <input type="text" name="Content" />
    <br />
    <button type="submit">Add</button>
</form>