@model EngineDeStiri.Models.ApplicationUser

@{
    ViewBag.Title = "Show article";
}

<p>
    <h1><b>@ViewBag.Article.Title</b></h1>
</p>

<p>Posted by <kbd>@ViewBag.Article.Username</kbd> on @ViewBag.Article.Date</p>

<div class="clearfix">
    <p>
        <img src="@ViewBag.Article.Thumbnail" style="margin-bottom:20px; margin-right:20px; float:left; border: solid; border-color: darkgray; max-height: 500px; object-fit: cover">
    </p>

    <p>
        Categories:

        @if (ViewBag.Article.Categories.Count == 0)
        {
            <kbd>None</kbd>
        }
        else
        {
            foreach (var cat in ViewBag.Article.Categories)
            {
                <kbd>@cat.Name</kbd>
            }
        }
        @if(ViewBag.ShowAdditionalButtons == "Yes") {
            <kbd><a role="button" style="text-decoration: none; color: white;" href="/Article/AddCategory/@ViewBag.Article.ArticleId">+</a></kbd>
        }
    </p>
    <p style="text-indent: 5%;"><h2><b>@ViewBag.Article.Headline</b></h2></p>
    <p>
        @if (ViewBag.Article.URL == null)
        {
        <p style="text-indent: 5%;">@ViewBag.Article.Content</p>
        }
        else
        {
            <p><a href="@ViewBag.Article.URL">Click here to read the article!</a></p>
        }
    </p>
</div>
@if (ViewBag.ShowAdditionalButtons == "Yes")
{
    <div class="row mb-4">
        <a role="button" class="btn btn-dark col-md-2 mr-2" href="/Article/Edit/@ViewBag.Article.ArticleId">Edit</a>
        <a role="button" class="btn btn-dark col-md-2 mr-2" href="/Article/Delete/@ViewBag.Article.ArticleId">Delete</a>
    </div>
}

<p>
    <h2>COMMENTS</h2>
    @if (ViewBag.Comments != null)
    {
        foreach (var com in ViewBag.Comments)
        {
            <div style="box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px; padding: 2%;">
                <h5><b>@com.Title</b></h5>
        <p class="small"> by <kbd>@com.AuthorName</kbd> on @com.Date</p>
        <p>@com.Content</p>
        @if (com.AuthorId == ViewBag.UserId || ViewBag.IsAdmin == "Yes")
        {
            <div class="row mb-4">
                <a role="button" class="btn btn-dark col-md-2 mr-2" href="/Comment/Edit/@com.CommentId">Edit</a>
                <a role="button" class="btn btn-dark col-md-2 mr-2" href="/Comment/Delete/@com.CommentId">Delete</a>
            </div>
        }
        </div>
        }
    }
    

    @if (User.Identity.IsAuthenticated)
    {
        <p><h2>Add a new comment</h2></p>
        <form method="post" action="/Article/AddComment/@ViewBag.Article.ArticleId">
            <div class="form-group" style ="box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px; padding: 2%;">
                <label>Title</label>
                <br />
                <input type="text" name="Title" class="form-control" />
                <br /><br />
                <label>Content</label>
                <br />
                <textarea type="text" name="Content" class="form-control" rows="2"></textarea>
                <br />
                <button type="submit" class="btn btn-dark col-md-2 mr-2">Add</button>
            </div>
        </form>
    }
    else
    {
        <p><h2>Login to add a comment!</h2></p>
    }
</p>




