@model EngineDeStiri.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>
<form method="post" action="/Users/Edit/@Model.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    @Html.HiddenFor(m => m.Id)
    <div class="form-group">
        <label>Username</label>
        <br />
        <input type="text" name="Username" value="@Model.UserName" class="form-control" />
        <br />
        <label>Role</label>
        @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value",
"Text", (string)ViewBag.userRole), null, new { @class = "form-control" })
        <br />
        <button class="btn btn-sm btn-success" type="submit">
            Modify
        </button>
    </div>    
</form>